
.listado{
    border: 3px solid green;
    border-radius: 10px;
    width: 70%;
    height: 500px;
    margin: 100px auto;
}

.ProductosCarrito{
    text-align: center;
    color: white;
    font-size: 1rem;
    list-style: none;

    .nombre {
        font-weight: bold;
        margin-right: 1rem;
        font-size: 1rem; 
    }
    .precio {
        margin-left: auto;
        font-size: 1rem;
    }
}
.producto-carrito{
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    .eliminar-producto{
        background: rgb(61, 98, 40);
        padding:0.2rem;
        margin-left: .7rem;
        color: white;

        &:hover{
            background: rgb(243, 3, 3);
            color: rgb(82, 247, 6);
        }
    }
}
.botones {
    width: 200px;
    display: flex;
    margin : auto; 

    .btn-success{
        margin:2rem auto;
        color:white;
        border:1px solid green;
        background: rgba(0, 0, 0, 0.632);
        width: 100%;

        &:hover{
            background: green;
        }

        a{
            text-decoration: none;
            color: rgb(255, 255, 255);
        }
    }
    .input-group-text{
        background: rgb(192, 219, 174) ;
    }
}