
.listado{
    border: 3px solid green;
    border-radius: 10px;
    width: 70%;
    height: 500px;
    margin: 100px auto;
    position: relative;
        .botones {
            position: absolute;
            bottom: 0; 
            left : 50%; 
            transform: translateX(-50%);

            .btn-success{
                margin:.2rem auto;
                color:white;
                border:1px solid green;
                background: rgba(0, 0, 0, 0.632);
                width: 100%;
        
                &:hover{
                    background: green;
                }
        
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                }
            }
            .input-group-text{
                background: rgb(192, 219, 174) ;
            }
        }
        .secciones__Listado{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            h3{
                color: white;
                text-align: center;
                font-family: 'Times New Roman', Times, serif;
            }
            .secciones__Producto{
                display: flex;
                flex-direction: row;
            }
        }
}
.producto-carrito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #03f507;
    color: white;
    margin: 1rem;
    font-size: 1rem;

    .nombre {
        font-weight: bold;
        margin-right: 1rem;
        font-size: 1rem;
    }
    .precio {
        margin-left: auto;
        font-size: 1rem;
    }
}
